.*
!.editorconfig
!.gitignore
!.gitattributes
!.dirtygit.yml
!.github
!.goreleaser.yaml
!.markdownlint.json
!.claude

# claude local things
settings.local.json

# built files
dist/
dirtygit
dirtygit.exe
